In [32]:
import numpy as np
import pandas as pd

In [33]:
df = pd.read_csv("BA-Final-Data-Skytrax.csv")
check = df

In [3]:
df.head()

,Unnamed: 0,reviewer_detail,reviews,Food & Beverages,Inflight Entertainment,Seat Comfort,Staff Service,Value for Money,Type Of Traveller,Seat Type,Route,Date Flown,Cabin Staff Service,Ground Service,Wifi & Connectivity,Value For Money,Recommended,Aircraft
0,0,Amanda Edgar(United Kingdom)2nd September 2024,✅Trip Verified| As someone who flies relentles...,1.0,1.0,2.0,NaN,NaN,Couple Leisure,Business Class,London to Crete,September 2024,1.0,2.0,3.0,2.0,no,NaN
1,1,S Morton(United Kingdom)1st September 2024,✅Trip Verified| Flew with British Airways cl...,3.0,NaN,3.0,NaN,NaN,Business,Business Class,Berlin to London,August 2024,1.0,1.0,NaN,1.0,no,A319
2,2,E Smyth(United Kingdom)30th August 2024,✅Trip Verified| Straightforward check in T5....,4.0,5.0,4.0,NaN,NaN,Family Leisure,Business Class,London to Toronto,August 2024,4.0,4.0,5.0,4.0,yes,Boeing 777-200
3,3,Lauren Boniface(United Kingdom)28th August 2024,Not Verified| I am beyond upset and disgusted ...,NaN,NaN,1.0,NaN,NaN,Solo Leisure,Economy Class,London to Denver,August 2024,1.0,1.0,NaN,1.0,no,NaN
4,4,Il Yong Jung(Hong Kong)28th August 2024,✅Trip Verified| I purchased round trip direc...,3.0,4.0,4.0,NaN,NaN,Family Leisure,Business Class,London to Hong Kong via Doha,July 2024,1.0,1.0,4.0,1.0,no,NaN

In [4]:
# dropping the duplicate index column
df.drop(columns=["Unnamed: 0"], inplace=True)
df.sample()

,reviewer_detail,reviews,Food & Beverages,Inflight Entertainment,Seat Comfort,Staff Service,Value for Money,Type Of Traveller,Seat Type,Route,Date Flown,Cabin Staff Service,Ground Service,Wifi & Connectivity,Value For Money,Recommended,Aircraft
404,G Jackson(United States)2nd January 2023,✅Trip Verified| Probably the worst business cl...,1.0,1.0,1.0,NaN,NaN,Family Leisure,Business Class,Vienna to Los Angeles via London Heathrow,January 2023,2.0,1.0,1.0,1.0,no,"A320, A380"

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3850 entries, 0 to 3849
Data columns (total 17 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   reviewer_detail         3850 non-null   object
 1   reviews                 3850 non-null   object
 2   Food & Beverages        3428 non-null   float64
 3   Inflight Entertainment  2637 non-null   float64
 4   Seat Comfort            3727 non-null   float64
 5   Staff Service           0 non-null      float64
 6   Value for Money         0 non-null      float64
 7   Type Of Traveller       3084 non-null   object
 8   Seat Type               3849 non-null   object
 9   Route                   3079 non-null   object
 10  Date Flown              3077 non-null   object
 11  Cabin Staff Service     3713 non-null   float64
 12  Ground Service          3005 non-null   float64
 13  Wifi & Connectivity     668 non-null    float64
 14  Value For Money         3850 non-null   float64
 15  Recommended             3850 non-null   object
 16  Aircraft                2008 non-null   object
dtypes: float64(9), object(8)
memory usage: 511.5+ KB

In [6]:
# dropping 'staff_service' and 'value_for_money' column as there are no values in that column
df.drop(columns=["Staff Service"], inplace=True)
df.sample()

,reviewer_detail,reviews,Food & Beverages,Inflight Entertainment,Seat Comfort,Value for Money,Type Of Traveller,Seat Type,Route,Date Flown,Cabin Staff Service,Ground Service,Wifi & Connectivity,Value For Money,Recommended,Aircraft
1509,28 reviewsC Cordan(United States)5th December ...,✅Trip Verified| London to Manchester. Hard to...,NaN,NaN,4.0,NaN,Solo Leisure,Economy Class,London to Manchester,November 2017,5.0,4.0,NaN,4.0,yes,NaN

In [7]:
# there is  Value for Money Column and Value For Money
# dropping the first Value for money Column
df.drop(columns=["Value for Money"], inplace=True)
df.sample()

,reviewer_detail,reviews,Food & Beverages,Inflight Entertainment,Seat Comfort,Type Of Traveller,Seat Type,Route,Date Flown,Cabin Staff Service,Ground Service,Wifi & Connectivity,Value For Money,Recommended,Aircraft
3145,G James(United Kingdom)13th May 2015,Flew MAN-LHR-YYZ and return. Outward in premiu...,5.0,5.0,4.0,NaN,Premium Economy,NaN,NaN,5.0,NaN,NaN,4.0,yes,NaN

In [8]:
# renaming all the column
df.rename(
    columns={
        "reviewer_detail": "reviewer_detail",
        "reviews": "reviews",
        "Food & Beverages": "food_and_beverages",
        "Inflight Entertainment": "inflight_entertainment",
        "Seat Comfort": "seat_comfort",
        "Type Of Traveller": "type_of_traveller",
        "Seat Type": "seat_type",
        "Route": "route",
        "Date Flown": "date_flown",
        "Cabin Staff Service": "cabin_staff_service",
        "Ground Service": "ground_service",
        "Wifi & Connectivity": "wifi_and_connectivity",
        "Value For Money": "value_for_money",
        "Recommended": "recommended",
        "Aircraft": "aircraft",
    },
    inplace=True,
)

df.sample()

,reviewer_detail,reviews,food_and_beverages,inflight_entertainment,seat_comfort,type_of_traveller,seat_type,route,date_flown,cabin_staff_service,ground_service,wifi_and_connectivity,value_for_money,recommended,aircraft
2975,Nigel Diepering(South Africa)4th August 2015,"The flight left on time and arrived early, whi...",3.0,2.0,2.0,Couple Leisure,Economy Class,London to Cape Town,July 2015,4.0,3.0,NaN,3.0,yes,Boeing 747 400

In [9]:
# reviewer_detail
# Extract name
# Place
# Time of review
# Drop the reviewer_detail column

df["reviewer_name"] = df["reviewer_detail"].str.split("(", expand=True)[0]
df["review_place"] = df["reviewer_detail"].str.extract(r"\((.*?)\)")[0]
df["review_date"] = df["reviewer_detail"].str.split(")", expand=True)[1]

df.drop(columns=["reviewer_detail"], inplace=True)

df.sample(5)

,reviews,food_and_beverages,inflight_entertainment,seat_comfort,type_of_traveller,seat_type,route,date_flown,cabin_staff_service,ground_service,wifi_and_connectivity,value_for_money,recommended,aircraft,reviewer_name,review_place,review_date
880,✅Trip Verified| Kuala Lumpur to Glasgow via L...,2.0,3.0,5.0,Solo Leisure,Premium Economy,Kuala Lumpur to Glasgow via London,October 2019,1.0,2.0,NaN,1.0,no,Boeing 787,A Tarneyso,Argentina,20th October 2019
3303,MAD-LHR-JED club world 777-200. The overall pr...,4.0,4.0,3.0,NaN,Business Class,NaN,NaN,4.0,NaN,NaN,4.0,yes,NaN,J Bacallado,Spain,28th January 2015
2687,Montreal to Rome via London with British Airwa...,1.0,1.0,4.0,Couple Leisure,Economy Class,YUL to FCO via LHR,October 2015,3.0,1.0,NaN,1.0,no,Boeing 777,Gary Barnes,United States,1st December 2015
3592,Travelled YYZ-LHR-ARN and return in mid August...,4.0,3.0,4.0,NaN,Premium Economy,NaN,NaN,3.0,NaN,NaN,4.0,yes,NaN,B Soleymani,Canada,9th September 2014
1407,✅Trip Verified| Tampa to Gatwick. I am a disa...,5.0,5.0,4.0,Solo Leisure,Economy Class,Tampa to Gatwick,March 2018,5.0,5.0,NaN,5.0,yes,NaN,E Penton,United Kingdom,3rd April 2018

In [10]:
# reviews
# Extract Verified data
temp_df = df[df["reviews"].str.contains("Verified")]

In [11]:
temp_df["verified"] = temp_df[temp_df["reviews"].str.contains("Verified")][
    "reviews"
].str.split("|", expand=True)[0]

temp_df.drop(
    columns=[
        "food_and_beverages",
        "inflight_entertainment",
        "seat_comfort",
        "type_of_traveller",
        "seat_type",
        "route",
        "date_flown",
        "cabin_staff_service",
        "ground_service",
        "wifi_and_connectivity",
        "value_for_money",
        "recommended",
        "aircraft",
        "review_place",
        "review_date",
    ],
    inplace=True,
)

C:\Users\yashr\AppData\Local\Temp\ipykernel_2112\2515005010.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_df["verified"] = temp_df[temp_df["reviews"].str.contains("Verified")][
C:\Users\yashr\AppData\Local\Temp\ipykernel_2112\2515005010.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_df.drop(

In [12]:
df = pd.merge(df, temp_df, on=["reviews", "reviewer_name"], how="left")

In [13]:
#  Extract Review Data
df["review"] = df["reviews"].str.split("|").str[-1]
df.drop(columns="reviews", inplace=True)
df.sample()

,food_and_beverages,inflight_entertainment,seat_comfort,type_of_traveller,seat_type,route,date_flown,cabin_staff_service,ground_service,wifi_and_connectivity,value_for_money,recommended,aircraft,reviewer_name,review_place,review_date,verified,review
3508,4.0,1.0,3.0,NaN,Business Class,NaN,NaN,2.0,NaN,NaN,1.0,no,NaN,Dave Mcdermott,United Kingdom,22nd October 2014,NaN,Heathrow to Bergen Business no priority boardi...

In [14]:
df["route"].nunique()

1608

In [15]:
df.sample()

,food_and_beverages,inflight_entertainment,seat_comfort,type_of_traveller,seat_type,route,date_flown,cabin_staff_service,ground_service,wifi_and_connectivity,value_for_money,recommended,aircraft,reviewer_name,review_place,review_date,verified,review
3085,2.0,3.0,2.0,Business,Business Class,LHR-BOM,NaN,5.0,NaN,NaN,3.0,yes,NaN,Kevin Barrance,United Kingdom,11th June 2015,NaN,This review concerns LHR-BOM in Business Class...

In [16]:
# Split the 'route' column into three parts: 'Origin', 'Destination', and 'Stopover'
df[["origin", "destination", "stopover"]] = df["route"].str.extract(
    r"^(.*) to (.*?)(?: via (.*))?$"
)

In [17]:
df.drop(columns="route", inplace=True)

In [18]:
df.head()

,food_and_beverages,inflight_entertainment,seat_comfort,type_of_traveller,seat_type,date_flown,cabin_staff_service,ground_service,wifi_and_connectivity,value_for_money,recommended,aircraft,reviewer_name,review_place,review_date,verified,review,origin,destination,stopover
0,1.0,1.0,2.0,Couple Leisure,Business Class,September 2024,1.0,2.0,3.0,2.0,no,NaN,Amanda Edgar,United Kingdom,2nd September 2024,✅Trip Verified,As someone who flies relentlessly with Britis...,London,Crete,NaN
1,3.0,NaN,3.0,Business,Business Class,August 2024,1.0,1.0,NaN,1.0,no,A319,S Morton,United Kingdom,1st September 2024,✅Trip Verified,Flew with British Airways club Europe on Sa...,Berlin,London,NaN
2,4.0,5.0,4.0,Family Leisure,Business Class,August 2024,4.0,4.0,5.0,4.0,yes,Boeing 777-200,E Smyth,United Kingdom,30th August 2024,✅Trip Verified,Straightforward check in T5. New site for c...,London,Toronto,NaN
3,NaN,NaN,1.0,Solo Leisure,Economy Class,August 2024,1.0,1.0,NaN,1.0,no,NaN,Lauren Boniface,United Kingdom,28th August 2024,Not Verified,I am beyond upset and disgusted with the disr...,London,Denver,NaN
4,3.0,4.0,4.0,Family Leisure,Business Class,July 2024,1.0,1.0,4.0,1.0,no,NaN,Il Yong Jung,Hong Kong,28th August 2024,✅Trip Verified,I purchased round trip direct flight busine...,London,Hong Kong,Doha

In [19]:
# arrange column
column_order = [
    "reviewer_name",
    "review",
    "review_place",
    "review_date",
    "verified",
    "aircraft",
    "origin",
    "destination",
    "stopover",
    "type_of_traveller",
    "seat_type",
    "date_flown",
    "food_and_beverages",
    "inflight_entertainment",
    "seat_comfort",
    "cabin_staff_service",
    "ground_service",
    "wifi_and_connectivity",
    "value_for_money",
    "recommended",
]

df = df[column_order]
df.sample()

,reviewer_name,review,review_place,review_date,verified,aircraft,origin,destination,stopover,type_of_traveller,seat_type,date_flown,food_and_beverages,inflight_entertainment,seat_comfort,cabin_staff_service,ground_service,wifi_and_connectivity,value_for_money,recommended
1148,Ally Wharton,I used avios point to upgrade from economy to...,United Kingdom,21st January 2019,✅Trip Verified,Boeing 787 Dreamliner,London,Calgary,NaN,Business,Premium Economy,June 2018,3.0,4.0,3.0,3.0,4.0,3.0,2.0,yes

In [20]:
df["verified"].unique()

array(['✅Trip Verified', 'Not Verified', 'cNot Verified', '❎Not Verified',
       nan, '✅Verified Review'], dtype=object)

In [21]:
df["verified"] = df["verified"].str.replace("❎", "")
df["verified"] = df["verified"].str.replace("✅", "")

In [22]:
df["verified"].unique()

array(['Trip Verified', 'Not Verified', 'cNot Verified', nan,
       'Verified Review'], dtype=object)

In [23]:
df["verified"] = df["verified"].str.replace("Trip Verified", "yes")
df["verified"] = df["verified"].str.replace("Not Verified", "no")
df["verified"] = df["verified"].str.replace("cNot Verified", "no")
df["verified"] = df["verified"].str.replace("Verified Review", "yes")
df["verified"] = df["verified"].str.replace("cno", "no")

In [24]:
df["verified"].unique()

array(['yes', 'no', nan], dtype=object)

In [25]:
# Cleaning reviwer_name
df['reviewer_name'].sample(20)

1902              Richard Holt
1989            Gillian Seaton
1082                  P Harris
2688            Kevin Barrance
2069    1 reviewsGilberto Sing
2393              Simon Fowler
2025               Julie Smith
2284            Peter McDonald
1323                   C Poole
1163                  R Barsat
3112               David Hardy
392                    E Smyth
2558              Blair Dubois
2582               Clive Drake
2395              Annika Evans
1332                  J Meares
2794                 D Orchard
449        31 reviewsR Gonzaga
2424               Clive Drake
2245             Paul Rutledge
Name: reviewer_name, dtype: object

In [26]:
def clean_reviewer_name(name):
    if 'reviews' in name:
        cleaned_name = name.split('reviews')[-1].strip()
        return cleaned_name
    return name.strip()

df['reviewer_name'] = df['reviewer_name'].apply(clean_reviewer_name)

In [27]:
# changing data type
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3850 entries, 0 to 3849
Data columns (total 20 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   reviewer_name           3850 non-null   object
 1   review                  3850 non-null   object
 2   review_place            3848 non-null   object
 3   review_date             3848 non-null   object
 4   verified                2311 non-null   object
 5   aircraft                2008 non-null   object
 6   origin                  3064 non-null   object
 7   destination             3064 non-null   object
 8   stopover                536 non-null    object
 9   type_of_traveller       3084 non-null   object
 10  seat_type               3849 non-null   object
 11  date_flown              3077 non-null   object
 12  food_and_beverages      3428 non-null   float64
 13  inflight_entertainment  2637 non-null   float64
 14  seat_comfort            3727 non-null   float64
 15  cabin_staff_service     3713 non-null   float64
 16  ground_service          3005 non-null   float64
 17  wifi_and_connectivity   668 non-null    float64
 18  value_for_money         3850 non-null   float64
 19  recommended             3850 non-null   object
dtypes: float64(7), object(13)
memory usage: 601.7+ KB

In [28]:
# convertind data type of date_flown and review_date
import re
def remove_ordinal_suffix(date_str):
    if pd.isnull(date_str):
        return date_str  # Return None or NaN as is
    return re.sub(r'(\d+)(st|nd|rd|th)', r'\1', date_str)

df['review_date'] = df['review_date'].apply(remove_ordinal_suffix)

df['review_date'] = pd.to_datetime(df['review_date'], format='%d %B %Y')
df['date_flown'] = pd.to_datetime(df['date_flown'], format='%B %Y')

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3850 entries, 0 to 3849
Data columns (total 20 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   reviewer_name           3850 non-null   object
 1   review                  3850 non-null   object
 2   review_place            3848 non-null   object
 3   review_date             3848 non-null   datetime64[ns]
 4   verified                2311 non-null   object
 5   aircraft                2008 non-null   object
 6   origin                  3064 non-null   object
 7   destination             3064 non-null   object
 8   stopover                536 non-null    object
 9   type_of_traveller       3084 non-null   object
 10  seat_type               3849 non-null   object
 11  date_flown              3077 non-null   datetime64[ns]
 12  food_and_beverages      3428 non-null   float64
 13  inflight_entertainment  2637 non-null   float64
 14  seat_comfort            3727 non-null   float64
 15  cabin_staff_service     3713 non-null   float64
 16  ground_service          3005 non-null   float64
 17  wifi_and_connectivity   668 non-null    float64
 18  value_for_money         3850 non-null   float64
 19  recommended             3850 non-null   object
dtypes: datetime64[ns](2), float64(7), object(11)
memory usage: 601.7+ KB

In [30]:
df.dtypes

reviewer_name                     object
review                            object
review_place                      object
review_date               datetime64[ns]
verified                          object
aircraft                          object
origin                            object
destination                       object
stopover                          object
type_of_traveller                 object
seat_type                         object
date_flown                datetime64[ns]
food_and_beverages               float64
inflight_entertainment           float64
seat_comfort                     float64
cabin_staff_service              float64
ground_service                   float64
wifi_and_connectivity            float64
value_for_money                  float64
recommended                       object
dtype: object

In [31]:
# Exporting cleaned data to csf
df.to_csv('BA-Cleaned.csv', index=False)

In [35]:
check.columns.shape

(18,)